body {
  margin-top: 1em;
}

body > div {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #666;
}

div.primary-element {
  font-style: italic;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  text-align: center;
  font-size: 2.5em;
}

div.secondary-element {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  text-align: center;
  font-size: 1.5em;
}

.value-element {
  font-weight: bold; 
}

@media (max-width: 1000px) and (orientation: landscape) {

  div.chart-container {
    position: relative;
    width: 10vh;
    width:80vw;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-width: 1000px) and (orientation: portrait) {

  div.chart-container {
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (min-width: 1000px) {

  div.chart-container {
    position: relative;
    width:800px;
    margin-left: auto;
    margin-right: auto;
  }

}
