body {
    margin-top: 1em;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #666;
}

h1 {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    text-align: center;
    font-size: 2.5em;
    font-weigt: bold;
}

div.primary-element {
    font-style: italic;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    text-align: center;
    font-size: 2.5em;
}

div.secondary-element {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    text-align: center;
    font-size: 1.5em;
}

form {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    padding: 2em;
}

.value-element {
    font-weight: bold;
}

.chart-container {
    position: relative;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

}
